version: "2"

services:
  db:
    image: mdillon/postgis:9.5
    ports:
      - "5432"
    # This helps ensure that the data persists even if the Postgres container is deleted.
    volumes:
      - ./data:/var/lib/postgresql/data
    # Refer to https://hub.docker.com/_/postgres/ for other possibilities
    environment:
      POSTGRES_DB: travis_ci_test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  qgis-testing-environment:
    image: ${IMAGE}:${QGIS_VERSION_TAG}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./:/tests_directory
    depends_on:
      - db
    environment:
      DISPLAY: ":99"
