tr {
   background-color: hsla(205, 46%, 86%, 0.41);
}

th {
   background-color: #bbbbbb;
   color: #ffffff;
}


.wy-nav-content {
   padding: 1.618em 3.236em;
   height: 100%;
   max-width: none;
   margin: auto;

}

div.bodywrapper {
   width: 100%;
}

body {
   width: 100%;
}

div.body {
   width: 100%;
}

div.section p {
   font-size: 100%;
}