tr {
    background-color: hsla(205, 46%, 86%, 0.41);
}

th {
    background-color: #bbbbbb;
    color: #ffffff;
}


.wy-nav-content {
	padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%; 
    margin: auto;


}

div.section p {
	font-size: 100%;
}